
body {
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark text color for better readability */
    font-family: 'Arial', sans-serif
}

.greenhouse {
    width: 260px;
    height: 260px;
    background-image: url("house.svg");
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.greenhouse:hover {
  transform: scale(1.1); /* Slightly scale up on hover */
}

.greenhouse div {
    position: absolute;
    font-style: bold;
    padding: 5px;
    display: flex;
    align-items: center;
}

.greenhouse div div {
    margin-left: 32px;
    color: black;
    font-size: 1.7em;
}

.id {
    font-size: 2.3em;
    font-weight: bold;
    top: 17%;
    left: 44%;
}

.clickable:hover {
    border-radius: 35%;
    border: 1px solid black;
}

.temp-container {
    top: 47%;
    left: 19%;
}

.humidity-container { 
    top: 47%; 
    left: 51%; 
}

.lux-container { 
    top: 67%; 
    left: 27%; 
}

/* these styling rules are for when there are 5 variables per gh on the status page
.temp-container {
    top: 40%;
    left: 20%;
}

.humidity-container { 
    top: 40%; 
    left: 50%; 
}

.lux-container { 
    top: 70%; 
    left: 20%; 
}

.soil-temp-container { 
    top: 55%; 
    left: 20%; 
}

.soil-moisture-container { 
    top: 55%; 
    left: 50%; 
}
*/